*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 20px 35px; 
    background-color:#31343d;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

header h1{ /*Nayandeep Sidhu */
   
    padding-left: 50px;
    font-weight: bold;
    font-size: 36px;
    color: #31343d;
}
.title{ /*Nayandeep Sidhu Background */
    background-color: #92cccd;
    position: relative;
    right: 30px;
    bottom: 15px;
    line-height: 1.7;
    padding-left: 8px;
    padding-right: 10px;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    padding: 20px 30px;
    font-weight: bolder;
    font-size: 1.5vw;
    font-family: Helvetica, Arial, sans-serif;
    color:#92cccd;
    text-decoration: none;
    

}

header a:hover{
    border-bottom: 4px solid #92cccd;
}

.background{
    background-image:url("../img/hero.PNG");
    background-position: center;
    background-size: cover;
    height: 550px;
    z-index: 9999;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
       
}
.cool-txt-bck{
    padding-bottom: 15px;
    padding-right: 20px;
}
.cool-text {
    
    background-color: #92cccd;
    position: relative;
    right:150px;
    line-height: 1.7;
    padding-left: 10px;
    padding-right: 50px;
    text-align:center;
    font-size: xx-large;
}


main{
    background-color: #ededf6;
}


.parent{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.child-1{
    flex: 1 30%;
    text-align: end;
    font-size: 36px;
    color: #445876;
    
    
}

.child-2{
    flex: 2 70%;
    list-style: none;
    color: #445876;
    border-left: 10px solid #445876;
}

.about-txt{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 25px;

}

.img{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}

.img-gal{
    width: 100%;
    height: 100%;
    object-fit:fill;

}

.img-item-1{
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 5;
    border: 3px solid #92cccd;
     
}

.img-item-2{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 8;
}

.img-item-3{
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 8;
}


.contact-bord{
    border-right: 10px solid #445876;
    position: relative;
    left: 10px;
}

.contact-txt{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 25px;

}



.child-2 ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}

.child-2 ul li{
    margin-left: 30px;
    margin-right: 30px;
    
}

.child-2 ul li a{
    text-decoration: none;
    color: #445876
}

.child-2 ul li a:hover{
    border-bottom: 2px solid #445876;
}


/*.img{
    position: relative;
    width: 950px;
    height: 950px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.img-1{
    width:800px;
    height:400px;
    margin-left: 30px;
    margin-top: 10px;
}

.img-overlay{
    
    position: relative;
    /*top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    color: #fff;
}

.img-1:hover{
    
    background-color: black;
    opacity: 0.;
}

.img-2{
    width: 400px;
    height: 200px;
    margin-left: 30px;
    margin-bottom: 100px;   
}

.img-3{
    width: 400px;
    height: 200px;
    margin-bottom: 100px;
    margin-left: 10px;
}
*/